{
  margin: 0;
  text-decoration: none;
}

.aboutUsTitle{
  color: #ddd;
  background-color: #282E34;
  text-align: center;
  padding: 50px 80px;
  text-align: justify;
}
/*lava Information*/
.lavaClass{
  position: relative;
  color: #ddd;
  background-color: #282E34;
  padding: 50px 80px;
  text-align: center;
}

.gitPiclava{
  width:50px;
  height:50px;
  margin: auto;
}

.linkPiclava  {
  width:50px;
  height:50px;
  margin:auto;
}

/*trail Information*/
.trailClass{
  position: relative;
  color: #ddd;
  background-color: #282E34;
  padding: 50px 80px;
  text-align: center;
}

.gitPictrail{
  width:50px;
  height:50px;
  margin: auto;
}

.linkPictrail{
  width:50px;
  height:50px;
  margin:auto;
}

/*ribbons Information*/
.ribbonsClass{
  position: relative;
  color: #ddd;
  background-color: #282E34;
  padding: 50px 80px;
  text-align: center;
}

.gitPicribbons{
  width:50px;
  height:50px;
  margin: auto;
}

.linkPicribbons{
  width:50px;
  height:50px;
  margin:auto;
}
/*mountain Information*/
.mountainClass{
  position: relative;
  color: #ddd;
  background-color: #282E34;
  padding: 50px 80px;
  text-align: center;
}

.gitPicmountain{
  width:50px;
  height:50px;
  margin: auto;
}

.linkPicmountain{
  width:50px;
  height:50px;
  margin:auto;
}

body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}
/*Paralax Scrolling Under*/
.boatPic, .lavaPic, .trailPic, .ribbonsPic, .mountainPic {
  background-color: black;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.boatPic {
  background-image: url("img/boat.jpg");
  min-height: 780px;
}

.lavaPic {
  background-image: url("img/bushonstone.jpg");
  min-height: 780px;
}

.trailPic {
  background-image: url("img/trail.jpg");
  min-height: 780px;
}
.ribbonsPic {
  background-image: url("img/thaiboat.jpg");
  min-height: 780px;
}
.mountainPic {
  background-image: url("img/mountainboat.jpg");
  min-height: 780px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}


h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #c29970;
  text-align: center;
}
